bin
obj
public/
resources/manifest.json
thunderstore/
CrusadersEquipment_thunderstore.zip
resources/artsource/exports/corrupted_longsword/
resources/artsource/exports/puresteel_longsword/
resources/artsource/exports/basic_relic/
resources/unity/
resources/artsource/basic_relic.fbx
resources/artsource/corrupted_longsword.fbx
resources/artsource/puresteel_longsword.fbx
resources/artsource/basic_relic.blend
resources/artsource/corrupted_longsword.blend
resources/artsource/puresteel_longsword.blend
resources/artsource/basic_relic_2.blend1
resources/artsource/corrupted_longsword.blend1
resources/artsource/basic_relic.spp
resources/artsource/corrupted_longsword.spp
resources/artsource/corrupted_longsword_autosave_0.spp
resources/artsource/heavy_plate_armor.spp
resources/artsource/puresteel_longsword.spp
resources/icons/adamantine_ingot.pdn
resources/icons/basic_relic.pdn
resources/icons/corrupted_longsword.pdn
resources/icons/crusaders_plate_armor.pdn
