bin
obj
public/
resources/manifest.json
thunderstore/
CrusadersEquipment_thunderstore.zip
resources/artsource/exports/corrupted_longsword/
resources/artsource/exports/puresteel_longsword/
resources/artsource/exports/basic_relic/
resources/unity/
