CrusadersEquipment_thunderstore.zip filter=lfs diff=lfs merge=lfs -text
CrusadersEquipment.rar filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pdn filter=lfs diff=lfs merge=lfs -text
