bin
obj
public/
resources/manifest.json
thunderstore/
*.painter_lock
CrusadersEquipment_thunderstore.zip
resources/artsource/exports/corrupted_longsword/
resources/artsource/exports/puresteel_longsword/
resources/artsource/exports/faraam_longsword/
resources/unity/
resources/artsource/faraam_longsword.spp
resources/artsource/wolf_ranger_armor.spp
resources/artsource/corrupted_longsword.fbx
resources/artsource/puresteel_longsword.fbx
resources/artsource/corrupted_longsword.blend
resources/artsource/puresteel_longsword.blend
resources/artsource/*.blend1
resources/artsource/corrupted_longsword.spp
resources/artsource/corrupted_longsword_autosave_0.spp
resources/artsource/heavy_plate_armor.spp
resources/artsource/puresteel_longsword.spp
resources/icons/adamantine_ingot.pdn
resources/icons/corrupted_longsword.pdn
resources/icons/crusaders_plate_armor.pdn
CrusadersEquipment.rar
